.logo-imagen {
    max-height: 5px;
    max-height: 5px;
}

body {
    padding-top: 70px;
    padding-bottom: 170px;
}

.background {
    background: #000000;
}

.top-panel-body {
    min-height: 300px;
}

.bottom-panel-body {
    min-height: 120px;
}

.round-bar {
    margin: auto;
    width: 200px;
    height: 200px;
}

.progressbar-text {
    font-size: 34px;
}
.vcentered {
   padding: 70px 30px;
}
