.logo-imagen {
    max-height: 5px;
    max-height: 5px;
}

body {
    padding-top: 70px;
}

.background {
    background: #000000;
}

.roboto-font {
    font-family: 'Roboto', sans-serif;
}

.top-panel-body {
    min-height: 300px;
}

.bottom-panel-body {
    min-height: 150px;
}

.round-bar {
    margin: auto;
    width: 200px;
    height: 200px;
}

.progressbar-text {
    font-size: 34px;
}
