.logo-imagen {
    max-height: 5px;
    max-height: 5px;
}

body {
    padding-top: 70px;
}

.background {
    background: #000000;
}

.top-panel-body {
    min-height: 300px;
}

.bottom-panel-body {
    min-height: 120px;
}

#panel-conexion {
    height: 300px;
}

.round-bar {
    margin: auto;
    width: 200px;
    height: 200px;
}

.progressbar-text {
    font-size: 34px;
}

.vcentered {
    padding: 70px 30px;
}

@media screen and (max-width: 765px) {
    #panel-conexion {
        height: 120px;
    }
    .vcentered {
        padding: 0px 30px;
    }
    #bottom-navbar {
        display: none;
    }
}
